img {
    height: 100px;
    width: 100px;
    padding: 5%;
    display: flex; 
}

.head {
    display: flex;
    justify-content: space-around;
}

td {
    display: flex;
    justify-content: space-around;
}

#contain {
    display: flex;
    border: 2px solid black;
}


#ff1 {
    margin: 0;
    padding: 0;
    width: 20%;
    margin-left: 8%;
}
#ff2 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left:2%;
}
#ff3 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 15%;
}

#ff4 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 22%;
} 
