img {
    height: 100px;
    width: 100px;
    padding: 5%;
    display: flex; 
}

.head {
    display: flex;
    justify-content: space-around;
    z-index: 100;
}

td {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contain {
    /* margin: 2%; */
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    border: 2px solid black;
}

/* #ff1, #ff2, #ff3 {
    border: 2px solid black; 
    width: 20%;
} */

#ff1 {
    margin: 0;
    padding: 0;
    width: 20%;
    margin-left: 8%;
}
#ff2 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left:2%;
}
#ff3 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 8%;
}

/* #ff4 {
    margin: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 5%;
}  */

/* h3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
} */